// Tang Mega 138K Dock. Pin names follow Sipeed's current DDR/UART example.
IO_LOC  "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC  "key1_F4" F4;
IO_PORT "key1_F4" IO_TYPE=LVCMOS15 PULL_MODE=DOWN BANK_VCCIO=1.5;

IO_LOC  "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "led_V13" V13;
IO_PORT "led_V13" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
